<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IIIT Dharwad Sports Website</title>
    <link rel="icon" type="image/x-icon" href="images/Sport Club(png).png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="images/Sport Club(png).png">

</head>

<body>
    <!-- INDIAN INSTITUTE OF INFORMATION TECHNOLOGY content goes here -->
</body>

<footer>
    <div style="height: 1px;"></div>
    <div class="footer-container">
        <div class="footer-section contact">
            <h3>Contact Us</h3>
            <!-- Update the email address to a clickable link -->
            <p>Email: <a href="mailto:sports@iiitdwd.ac.in">sports@iiitdwd.ac.in</a></p>
        </div>
        <div class="footer-section address">
            <h3>Address</h3>
            <p>Indian Institute of Information Technology Dharwad, Ittigatti Road, Near Sattur Colony,</p>
            <!-- <p></p> -->
            <p> Dharwad 580009.</p>
        </div>
    </div>
    <p class="copy-right">Copyright © 2023 IIIT Dharwad</p>
</footer>

</html>
