.container-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person-card {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}

.empty-container {
  flex-basis: 100%;
  height: 100px; /* Set desired height for the empty space */
}
