.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-item:hover {
    transform: scale(1.02);
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
    color: #333;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.product__description {
    text-align: center;
    color: #777;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .product-form {
        max-width: 100%;
        padding: 0.5rem;
    }

    .product-item {
        max-width: 100%;
        margin: 1rem 0;
    }
}

/* Complaint box styles */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { 
  background:rgb(255, 255, 255); 
}

form { 
  max-width:420px; 
  margin:50px auto; 
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #3a6396;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%; /* Changed width to 100% for responsive design */
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
  border:2px solid #3a6396; 
}

textarea {
  height: 100px;
  line-height: 100%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%; /* Changed width to 100% for responsive design */
  background:#3a6396;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.hero-img {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.hero-img:hover {
  transform: scale(1.02);
}

.content {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.content:hover {
  transform: scale(1.02);
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.hero-container > div {
  flex: 0;
  padding: 16px;
}

.hero-img {
  width: 18.75rem;
  height: 25rem;
  transition: transform 0.2s ease-in-out; /* Add transition for transform property */
}

.hero-img-large {
  width: 40.625rem;
  height: 28.125rem;
  cursor: pointer; /* Add cursor pointer for hover effect */
}

.hero-img-large:hover {
  transform: scale(1.02); /* Apply scale transform on hover */
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    height: auto;
  }

  .hero-container > div {
    padding: 8px;
  }

  .hero-img,
  .hero-img-large {
    width: 100%;
    height: auto;
  }

  .content {
    width: 100%;
    height: auto;
  }
}
