.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-item:hover {
    transform: scale(1.02);
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
    color: #333;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.product__description {
    text-align: center;
    color: #777;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .product-form {
        max-width: 100%;
        padding: 0.5rem;
    }

    .product-item {
        max-width: 100%;
        margin: 1rem 0;
    }
}

/*complaint box*/

.complaint-box {
    background-color: #cedaddf8;
    padding: 16px;
    margin-top: 16px;
    border: 2px solid #4369e8;
    border-radius: 8px;
    }
    
    .complaint-box h2 {
    margin-bottom: 8px;
    color: #04285e;
    font-size: 24px;
    }
    
    .complaint-box textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #a8bfe8;
    border-radius: 4px;
    background-color: #fafafa;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    transition: border-color 0.3s ease;
    }
    
    .complaint-box textarea:focus {
    outline-color: #29b6f6;
    border: 1px solid #29b6f6;
    }
    
    .complaint-box button {
    background-color: #3e6da7;
    color: #fff;
    border: none;
    padding: 12px 24px;
    margin-top: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    }
    
    .complaint-box button:hover {
    background-color: #25618f;
    }