<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/about.css">
<style>
  .container-2 .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 15px;
  }
  
  .container-2 .col-12 {
    flex: 0 0 auto;
    width: 280px;
    margin-right: 10px;
  }
  
  .container-2 .col-12:last-child {
    margin-right: 0;
  }
  
  </style>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container-div">
        <h1>About Us</h1>
        <span>The Sports Committee of IIIT Dharwad is a student-run organization that aims to promote and encourage sports and physical activities among the student community. The committee strives to create a vibrant sports culture within the institute by organizing various sports events, tournaments, and workshops throughout the academic year.

          The committee consists of a team of enthusiastic and dedicated individuals who share a passion for sports and are committed to promoting a healthy and active lifestyle among their peers. They work tirelessly to create a sports-friendly environment within the institute and to provide opportunities for students to participate in various sports activities.
          
          The Sports Committee of IIIT Dharwad organizes a wide range of sports events throughout the year, including cricket, football, basketball, badminton, table tennis, and many more. They also organize workshops on sports-specific skills and techniques to help students improve their game.
          
          The committee also works to identify and nurture talented athletes within the institute and provide them with the necessary resources and support to help them excel in their respective sports. They also represent IIIT Dharwad in various intercollegiate sports competitions and tournaments, showcasing the institute's sporting prowess on a larger stage.</span>

        <h1>Sports Committee</h1>
        
        <!-- Additional HTML Code for Team Members -->
        <div class="container-2">
          <div class="row">
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\Dr.Utkarsh_circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Dr.Utkarsh Khaire</h4>
                  <h4 class="title">Sports Committee</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\Mr.Naveen_circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Mr.Naveen</h4>
                  <h4 class="title">Sports Advisor</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\Dr.Malay_circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Dr.Malay</h4>
                  <h4 class="title">Chairman of Sports Committee</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
               
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\Dr.Anand_Barangi_circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Dr.Anand Barangi</h4>
                  <h4 class="title">Sports Committee</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\Ms.Anushree_circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Dr.Anushree Kini</h4>
                  <h4 class="title">Sports Committee</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <h1>Website Developers</h1>
        
        <div class="container-2">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\aryantn_img.jpg">
                </div>
                <div class="team-content">
                  <h4 class="name">Aryan TN</h4>
                  <h4 class="title">UI/UX DESIGNER</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\ashh_img.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Ashish Gidijala</h4>
                  <h4 class="title">FULL STACK DEVELOPER</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\dhiraj_circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Dhiraj</h4>
                  <h4 class="title">Frontend Developer</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        
        <h1>Contact Us</h1>
        <span>If you have any questions or inquiries, feel free to contact us using the information below.
          <br>
          <br>
          <b>Indian Institute of Information Technology Dharwad, Ittigatti Road</b>
          <br>
          <b>Near Sattur Colony, Dharwad 580009.</b>
          <br>
          <b>Phone: +91-836-244-0000</b>
          <br>
          <b>Email: sports@iiitdwd.ac.in</b>
        </span>
          <div class="empty-container"> </div>
          </main>
          <%- include('../includes/end.ejs') %>