<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container-div">
        <h1>About Us</h1>
        <p>Indian Institute of Information Technology Dharwad (IIIT Dharwad) is an autonomous technical
          education institute located in Dharwad, Karnataka, India. The institute offers undergraduate and
          postgraduate programs in computer science and engineering, electronics and communication engineering,
          and data science. IIIT Dharwad has a strong focus on research and innovation, and aims to create
          leaders in the field of information technology.</p>
        <h1>Sports Committee</h1>
        <!-- Person Information Cards Container -->
        <div class="person-cards-container">
          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>
      
          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>
      
          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>

          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>

          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>

          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>

          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>

          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>

          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>

          <!-- Person Information Card -->
          <div class="person-card">
            <img src="images\Mandar.JPG" alt="Person Image">
            <h2>Mandar Dighe</h2>
            <p>Sports Committee</p>
            <!-- <p>Research Interests: Artificial Intelligence, Machine Learning</p> -->
            <p>Contact: 21bcs033@iiitdwd.ac.in</p>
          </div>
        </div>
      
        <h2>Contact Us</h2>
        <p>Email: sports@iiitdwd.ac.in</p>
        <p>Address: Indian Institute of Information Technology Dharwad, Ittigatti Road, Near Sattur Colony,
          Dharwad 580009.</p>
        <div class="empty-container"></div>
      </main>
      
    <%- include('../includes/end.ejs') %>
