<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/about.css">
<style>
  .container-2 .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 15px;
  }
  
  .container-2 .col-12 {
    flex: 0 0 auto;
    width: 280px;
    margin-right: 10px;
  }
  
  .container-2 .col-12:last-child {
    margin-right: 0;
  }
  
  </style>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container-div">
        <h1>About Us</h1>
        <span>Indian Institute of Information Technology Dharwad (IIIT Dharwad) is an autonomous technical
          education institute located in Dharwad, Karnataka, India. The institute offers undergraduate and
          postgraduate programs in computer science and engineering, electronics and communication engineering,
          and data science. IIIT Dharwad has a strong focus on research and innovation, and aims to create
          leaders in the field of information technology.</span>
        <h1>Sports Committee</h1>
        
      
        <!-- Additional HTML Code for Team Members -->
        <div class="container-2">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\mandar circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Mandar Dighe</h4>
                  <h4 class="title">Volley Ball</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\adi circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Adi Jain</h4>
                  <h4 class="title">Lawn Tennis</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\ashh circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Ashish Gidijala</h4>
                  <h4 class="title">Lawn Tennis</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="images\gorle circle.png">
                </div>
                <div class="team-content">
                  <h4 class="name">Nikhil Gorle</h4>
                  <h4 class="title">Badminton</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <h1>Contact Us</h1>
        <span>If you have any questions or inquiries, feel free to contact us using the information below.
          <br>
          <br>
          <b>Indian Institute of Information Technology Dharwad, Ittigatti Road</b>
          <br>
          <b>Near Sattur Colony, Dharwad 580009.</b>
          <br>
          <b>Phone: +91-836-244-0000</b>
          <br>
          <b>Email: sports@iiitdwd.ac.in</b>
        </span>
          <div class="empty-container"> </div>
          </main>
          <%- include('../includes/end.ejs') %>