<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 65vh;">
                <div style="flex: 0; padding: 16px;">
                    <img src="images/_MG_0127.JPG" alt="Sports Updates" style="width: 300px; height: 400px;">
                </div>
                <div style="flex: 0; padding: 0px;">
                    <img src="images/Inter IIIT.JPG" alt="Sports Updates" style="width: 650px; height: 450px;">
                </div>
                <div style="flex: 0; padding: 16px;">
                    <img src="images\IMG_20230309_224603.jpg" alt="Sports Updates" style="width: 300px; height: 400px;">
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <ul style="display: flex; justify-content: space-around; list-style-type: none; margin: 0; padding: 0;">
                    <li style="padding: 0 16px;">2018</li>
                    <li style="padding: 0 16px;">2019</li>
                    <li style="padding: 0 16px;">2021</li>
                    <li style="padding: 0 16px;">2022</li>
                    <li style="padding: 0 16px;">2023</li>
                </ul>
            </div>
        <% } else { %>
            <h1 style="text-align: center;">No Sports Updates!</h1>
        <% } %>
    </main>

    <%- include('../includes/end.ejs') %>
</body>
