<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main style="height: 100%; overflow-y: scroll;">
    <% if (prods.length > 0) { %>
        <div class="hero-container">
            <div>
                <img class="hero-img" src="images/_MG_0127.JPG" alt="Sports Updates">
            </div>
            <div>
                <img class="hero-img-large" src="images/Inter IIIT.JPG" alt="Sports Updates">
            </div>
            <div>
                <img class="hero-img" src="images\IMG_20230309_224603.jpg" alt="Sports Updates">
            </div>
        </div>
        
    </div>

    <div class="timeline">
        <div class="container left">
            <div class="content">
                <a href="https://drive.google.com/drive/folders/1ojxMYEuDmPi_XscoGyzLNCeLBQIVfXeC?usp=share_link">
                    <h2>Annual Sports Meet 2022</h2>
                </a>

            </div>
        </div>
        <div class="container right">
            <div class="content">
                <a href="https://drive.google.com/drive/folders/1IhAqaASS9xuJYc_GCl60-yv4l4ZG5g_e?usp=share_link">
                    <h2>Faculty Sports Day 2022</h2>
                </a>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <a href="https://drive.google.com/drive/folders/14HnZHvFvAMdaxqb8vGJ2Ibjd8Cl_P1D8?usp=share_link">
                    <h2>Inter IIIT Sports Meet 2023</h2>
                </a>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>Annual Sports Meet 2023</h2>
            </div>
        </div>
    </div>

     <form>   
    <h1>Complaint Box</h1>   
  <input name="name" type="text" class="feedback-input" placeholder="Name" />   
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT"/>
</form>
<div class="empty-container"></div>
    <% } else { %>
    <h1 style="text-align: center;">No Sports Updates!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>

</body>